/*  zeramento da pagina   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  
  /* centralizar componetes*/
  
  .center{
      margin: 0 auto;
      max-width: 900px;
      width: 100%;   
  
  }
  .clear{
      clear: both;
  }
    /*-********div-img-12**********/
  .img-descricao-1{
      width: 100%;
  }


  .div-img-1{
      width: 40%;
      float: left;
      height: 100%;
  }
  .div-img-1 img{
      width: 400px;
      height: 400px;
      margin-top: 60px;
  }
  .paragrafo-1{
      width: 50%;
     
      float: right;
      height: 100%;
  }
  .paragrafo-1 p{
      margin-top: 60px;
      font-size: 17px;
      text-align: justify;
  }
   /*-********div-img-12**********/
   .img-descricao-2{
    width: 100%;
}


.div-img-2{
    width: 40%;
    float: right;
    height: 90%;
}
.div-img-2 img{
    width: 300px;
    height: 300px;
    margin-top: 60px;
}
.paragrafo-2{
    width: 50%;
   
    float: left;
    height: 100%;
}
.paragrafo-2 p{
    margin-top: 150px;
    font-size: 17px;
    text-align: justify;
    margin-bottom: 100px;
}
.logo-proje a{
    margin-left: 30px;
}